@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

* {
    margin: 5px;
    padding: 0;
   
    background-color: rgb(27, 26, 26);
}

body {
    padding: 0 50px;
    font-family: "Open Sans";
}

.header__nav {
    padding: 10px;
    margin-top: 10px;
}

.header__figure {
    display: flex;
    width: 30px;
    height: 40px;
}

.header__list li {
   
    list-style: none;
    gap: 25px;
    margin: 15px;
}

.header__list button{
    text-decoration: none;
    color: white;
    background-color: rgb(87, 83, 83);
    border-color: azure;
    padding-block: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 21%/44%;
    border: thin #c0c0c0 solid;
    cursor: pointer;

}
.header__list ul {
    display: flex;
    flex-direction: row  !important;}
    
.header__list button:hover {
    color: black;
    background-color: white;
    pointer-events: stroke;
}

.cards__figure img {
    width: 320px;
    height: auto;
}
.cards__figure__section__details{
    display: flex;
    justify-content: flex-start;
}
.cards__figure__section__details img{
border-radius: 50%;
height: 40px;
}
.cards__figure__section__details h3 {
  
    width: fit-content;
    text-align: justify;
    color: #fff;
    font: "Open Sans";
    padding: 3px;
    }

  .cards__figure__section__details{
    width: 320px;
    height: auto;
    }

  .main__cards{
    gap: 0 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
 } 
 .cards__figure__section__details__span {
    color: #595555;
 } 
 .cards__figure__section__details__span h3{
    
    color: #595555;
    font:"openSans";
 } 
 .cards__figure iframe{
    width: 853px;
    height: 480px;
 }
 footer img{
    width: 100px;
    height: auto;
 }

 
 @media screen  and (min-width:480px) and (max-width:1600px){
    .main__cards {
        flex-direction: column;
        justify-content: center;
        display: flex;

    } 
 }
